
/*header{
    overflow: hidden;
}*/

/*#inicio-sesion-centrado {
    margin: auto;
    width: 50%;
}*/
.divtabla table{
    border-collapse: collapse; margin: 0 auto; font-size: 1em; font-family: cursive; min-width: 450px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.divtabla th { background-color: #c26129; color: #ffffff; text-align: center; }
.divtabla tr { background-color: #c26129; color: #0e0808; text-align: center; }

/*img {
    width: 100%;
    height: auto;
}*/
